body {
  margin:0px;
  background-color:rgba(240, 242, 245, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1140px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8033 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:50px;
  overflow:hidden;
}
#u8033_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u8033_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8034 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1140px;
  height:1px;
  overflow:hidden;
}
#u8034_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:1px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(233, 233, 233, 1);
  background-image:none;
}
#u8034_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(0, 121, 254, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u8035 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:16px;
  width:188px;
  height:18px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u8035_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:18px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
}
#u8035.selected {
}
#u8035_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-2px;
  width:176px;
  word-wrap:break-word;
}
#u8037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u8037 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:10px;
  width:70px;
  height:30px;
  font-size:12px;
  color:#999999;
}
#u8037_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u8037.mouseOver {
}
#u8037_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:8px;
  width:45px;
  word-wrap:break-word;
}
#u8039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:101px;
}
#u8039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:873px;
  width:1140px;
  height:100px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:24px;
}
#u8039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:1136px;
  word-wrap:break-word;
}
#u8041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:773px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8041 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1100px;
  height:773px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u8041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u8042 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:70px;
  width:1100px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u8042_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:1080px;
  word-wrap:break-word;
}
#u8043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u8043 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:726px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u8043_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u8043.mouseOver {
  opacity:0.8;
}
#u8043_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  line-height:20px;
}
#u8043.mouseDown {
  opacity:1;
}
#u8043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u8044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8045_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:843px;
  height:5px;
}
#u8045 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:184px;
  width:840px;
  height:2px;
  font-size:16px;
  color:#999999;
}
#u8045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8046 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:169px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8046_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u8047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u8047 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:207px;
  width:78px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
  line-height:20px;
}
#u8047_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:74px;
  word-wrap:break-word;
}
#u8048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u8048 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:209px;
  width:106px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u8048_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u8049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u8049 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:207px;
  width:63px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:center;
  line-height:20px;
}
#u8049_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  word-wrap:break-word;
}
#u8050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8050 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:169px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u8050_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u8051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8051 {
  border-width:0px;
  position:absolute;
  left:993px;
  top:168px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#CCCCCC;
}
#u8051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u8052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8052 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:564px;
  width:914px;
  height:112px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  font-size:16px;
  text-align:left;
  line-height:28px;
}
#u8052_text {
  border-width:0px;
  position:absolute;
  left:120px;
  top:15px;
  width:794px;
  word-wrap:break-word;
}
#u8053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:112px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
}
#u8053 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:564px;
  width:100px;
  height:112px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
}
#u8053_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:112px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
}
#u8053.mouseOver {
}
#u8053_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:96px;
  word-wrap:break-word;
}
#u8054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u8054 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:616px;
  width:240px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:left;
}
#u8054_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:228px;
  word-wrap:break-word;
}
#u8055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u8055 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:286px;
  width:914px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u8055_text {
  border-width:0px;
  position:absolute;
  left:120px;
  top:18px;
  width:794px;
  word-wrap:break-word;
}
#u8056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
}
#u8056 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:286px;
  width:100px;
  height:120px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
}
#u8056_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
}
#u8056.mouseOver {
}
#u8056_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:96px;
  word-wrap:break-word;
}
#u8057 {
  position:absolute;
  left:109px;
  top:424px;
}
#u8057_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:914px;
  height:120px;
  background-image:none;
}
#u8057_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u8058 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:120px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:28px;
}
#u8058_text {
  border-width:0px;
  position:absolute;
  left:120px;
  top:18px;
  width:794px;
  word-wrap:break-word;
}
#u8059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
}
#u8059 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
}
#u8059_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
}
#u8059.mouseOver {
}
#u8059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:96px;
  word-wrap:break-word;
}
#u8057_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:914px;
  height:120px;
  visibility:hidden;
  background-image:none;
}
#u8057_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8060_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:28px;
}
#u8060 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:914px;
  height:120px;
  text-align:left;
  line-height:28px;
}
#u8060_text {
  border-width:0px;
  position:absolute;
  left:120px;
  top:18px;
  width:794px;
  word-wrap:break-word;
}
#u8061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
}
#u8061 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
}
#u8061_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:120px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#CCCCCC;
}
#u8061.mouseOver {
}
#u8061_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:96px;
  word-wrap:break-word;
}
